/*full body styling/background design*/
body {
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}

.heading {
    font-size: 50px!important;
    background-color: #0d6efd;
    color: white;
    width: 100%;
}


.parent-container {
    height: 700px;
    padding-top: 0!important;
}

#map {
    height: 500px;
    /*box-shadow: 4px 3px 8px 1px #969696;*/
    border-radius: 10px;
}

.location {
    z-index: 1;
}

.weather-cards{
    border: 3px solid black;
    border-radius: 10px;
    /*box-shadow: 4px 3px 8px 1px #969696;*/
    width: 200px;
    text-align: center;
    padding: 15px;
    background-color: white;
}

.detail-card {
    border: 3px solid black;
    border-radius: 10px;
    /*box-shadow: 4px 3px 8px 1px #969696;*/
    text-align: center;
    padding: 10px;
    height: 500px;
    width: 450px;
    margin: 0 140px;
    background-color: white;
}

.detail-card>table {
    margin: auto;
}


#daily-img{
    width: 150px;
    height: 150px;
}

#date {
    font-size: 30px;
}

.temp {
    font-size: 48px;
    margin-bottom: 0;
}

.details {
    margin-bottom: 0;
}

td {
    padding: 0 15px 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}